.project{
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.projectcard{
    width: 100%;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project h1{
    margin-top: 40px;
    font-size: 3.5vmax;
    background: linear-gradient(to right,rgb(250, 3, 127), white);
    background-clip: text; 
    color: transparent;
}