nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: rgb(16, 20, 24);

}
nav h1{
    font-size: 30px;
    background: linear-gradient(to right,rgb(68, 147, 199), white);
   background-clip: text; 
   color: transparent;
}
.active{
    color: rgb(107,211,211);
    border-bottom: 2px solid white;
}

nav ul{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
    list-style: none;
   
}

nav ul li{
    cursor: pointer;
}
nav ul a:hover{
    color: rgb(107,211,211);
    border-bottom: 2px solid white;
}

.desktopmenu button{
    padding: 7px 20px;
    background-color: rgb(66,180,205);
    color: black;
    border: 2px solid rgb(66,180,205);
    border-radius: 20px;
    font-family: 19px;
    transition: all 0.2s;
    cursor: pointer;
}

.desktopmenu button:hover{
    background-color: transparent;
    color: rgb(66,180,205);
    scale: 1.1;
}

.hamburger{
    cursor: pointer;
    display: none;

}
.ham{
    /* position: absolute; */
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: aliceblue;
    transition: all 0.5s;

}
.mobilemenu{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 20, 23, 0.664);
    backdrop-filter: blur(7px);
    /* display: none; */
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s;
}
.activemobile{
    transform: translateX(0%);

}
.activeham .ham:nth-child(1){    
    transform: rotate(45deg);
    position: relative;
    top: 6px;
    
}
.activeham .ham:nth-child(2){
    opacity: 0;
}
.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    top: -8px;

}
@media (max-width:750px) {
    .desktopmenu{
        display: none;
    }
    .hamburger{
        display: block;
    }
    
}